.profile-form h2,
.profile-form h4 {
	padding-left: 0;
	margin-top: 30px;
}

.profile-form p.error {
	padding-left: 0;
}

.profile-form #profile-btn {
	margin-bottom: 20px;
}

.profile-form p.success {
	color:  #198754;
}